# 1. 使用 pandas 將資料集載入為 DataFrame 格式。 (2%)

In [1]:
import pandas as pd

sales_df = pd.read_excel('sales.xlsx')
print(type(sales_df))

<class 'pandas.core.frame.DataFrame'>

# 2. 列出目前資料集所有欄位名稱及資料型態。 (2%)

In [2]:
current_attributes = list(zip(sales_df.columns, sales_df.columns.map(type)))
for attribute in current_attributes:
    print(attribute)

('Year', <class 'str'>)
('Product', <class 'str'>)
('line', <class 'str'>)
('Product.1', <class 'str'>)
('type', <class 'str'>)
('Product.2', <class 'str'>)
('Order', <class 'str'>)
('method', <class 'str'>)
('type.1', <class 'str'>)
('Retailer', <class 'str'>)
('country', <class 'str'>)
('Revenue', <class 'str'>)
('Planned', <class 'str'>)
('revenue', <class 'str'>)
('Product.3', <class 'str'>)
('cost', <class 'str'>)
('Quantity', <class 'str'>)
('Unit', <class 'str'>)
('cost.1', <class 'str'>)
('Unit.1', <class 'str'>)
('price', <class 'str'>)
('Gross', <class 'str'>)
('profit', <class 'str'>)
('Unit.2', <class 'str'>)
('sale', <class 'str'>)
('price.1', <class 'str'>)

# 3. 依已知資訊(1)，請列出所有正確的欄位名稱。 (2%)

In [3]:
def remake_attributes(attributes):
    attribute_list = []
    for attribute in attributes:
        if attribute[0].isupper():
            attribute_list.append(attribute)
            continue
        else:
            attribute_list.append(attribute_list.pop() +' '+ attribute)
    return attribute_list

In [4]:
attributes = remake_attributes(list(sales_df.columns))
for attribute in attributes:
    print(attribute)

Year
Product line
Product.1 type
Product.2
Order method type.1
Retailer country
Revenue
Planned revenue
Product.3 cost
Quantity
Unit cost.1
Unit.1 price
Gross profit
Unit.2 sale price.1

# 4. 請檢查第 1 個欄位 Year 是否有資料錯置問題。(2%)

In [5]:
sales_df.groupby(['Year']).size()

Year
2004    21168
2005    21168
2006    21168
2007     2031
dtype: int64

In [6]:
sales_df.groupby(['Year', 'Product']).size()

Year  Product
2004  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2005  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2006  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2007  Camping           2031
dtype: int64

# 5. 請檢查第2個欄位Product line 的資料錯置情況並將此欄位整理成正確的形式。(2%)

In [7]:
sales_df.groupby(['Product', 'line']).size()

Product         line
Camping         Equipment      20112
Golf            Equipment       6615
Mountaineering  Equipment       9261
Outdoor         Protection      6615
Personal        Accessories    22932
dtype: int64

In [8]:
sales_df.groupby(['Product', 'line', 'Product.1']).size()

Product         line         Product.1
Camping         Equipment    Cooking       5880
                             Lanterns      5292
                             Packs         2646
                             Sleeping      3087
                             Tents         3207
Golf            Equipment    Golf          1764
                             Irons         1764
                             Putters       1323
                             Woods         1764
Mountaineering  Equipment    Climbing      3087
                             Rope          1764
                             Safety        1764
                             Tools         2646
Outdoor         Protection   First         2205
                             Insect        2205
                             Sunscreen     2205
Personal        Accessories  Binoculars    2646
                             Eyewear       7056
                             Knives        3087
                             Navigation    4410
                             Watches       5733
dtype: int64

In [9]:
sales_df['Product line'] = sales_df['Product'] + ' '+sales_df['line']
sales_df = sales_df.drop(['Product', 'line'], axis=1)
sales_df.sample(10)

,Year,Product.1,type,Product.2,Order,method,type.1,Retailer,country,Revenue,...,Unit,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line
29414,2005,Eyewear,Polar,Sports,Telephone,Germany,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Personal Accessories
30226,2005,Eyewear,Cat,Eye,Mail,Singapore,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Personal Accessories
5625,2004,Lanterns,EverGlow,Butane,Sales,visit,Austria,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
17110,2004,Putters,Course,Pro,Putter,Web,Belgium,164926,202372,87723.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Golf Equipment
40945,2005,Climbing,Accessories,Firefly,Climbing,Lamp,Special,Belgium,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mountaineering Equipment
6760,2004,Watches,Mountain,Man,Extreme,Fax,Italy,6991.5,7359.5,2904.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Personal Accessories
60524,2006,Rope,Husky,Rope,50,E-mail,Mexico,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mountaineering Equipment
13535,2004,Navigation,Auto,Pilot,Telephone,Finland,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Personal Accessories
45497,2006,Sleeping,Bags,Hibernator,Pillow,Special,Finland,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
47059,2006,Lanterns,Firefly,4,Telephone,Italy,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment

# 6. 請依已知資訊 (3) 過濾掉不相干的 Product type 的銷售紀錄(移除一整列)，請保留每一筆資料原本的 index (不需重置 index) 。(10%)

In [10]:
sales_df['Product type'] = sales_df['Product.1'] + ' ' + sales_df['type']
sales_df = sales_df.drop(['Product.1', 'type'], axis=1)
sales_df.head()

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line,Product type
0,2004,TrailChef,Water,Bag,Telephone,United,States,315044,437477,158372,...,5.195714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
1,2004,TrailChef,Water,Bag,Telephone,Canada,13444.7,14313.5,6298.8,2172,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
2,2004,TrailChef,Water,Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
3,2004,TrailChef,Water,Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
4,2004,TrailChef,Water,Bag,Telephone,Japan,181120,235237,89413.1,35696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear

In [11]:
products_to_keep = ['Climbing Accessories', 'Cooking Gear', 'First Aid', 'Golf Accessories', 'Insect Repellents', 'Sleeping Bags']
products_to_remove =  [product for product in list(sales_df['Product type'].unique()) if product not in products_to_keep]
sales_df = sales_df.drop(sales_df[ sales_df['Product type'].isin(products_to_remove) ].index)
sales_df.head()

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line,Product type
0,2004,TrailChef,Water,Bag,Telephone,United,States,315044,437477,158372,...,5.195714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
1,2004,TrailChef,Water,Bag,Telephone,Canada,13444.7,14313.5,6298.8,2172,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
2,2004,TrailChef,Water,Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
3,2004,TrailChef,Water,Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
4,2004,TrailChef,Water,Bag,Telephone,Japan,181120,235237,89413.1,35696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear

In [12]:
sales_df['Product type'].unique()

array(['Cooking Gear', 'Sleeping Bags', 'Insect Repellents', 'First Aid',
       'Golf Accessories', 'Climbing Accessories'], dtype=object)

# 7. 請檢查第3個欄位 Product type的資料錯置情況並將此欄位整理成正確的形式。(5%)

In [13]:
sales_df.groupby(['Product type']).size()

Product type
Climbing Accessories    3087
Cooking Gear            5880
First Aid               2205
Golf Accessories        1764
Insect Repellents       2205
Sleeping Bags           3087
dtype: int64

In [14]:
sales_df.groupby(['Product type', 'Product.2']).size()

Product type          Product.2
Climbing Accessories  Firefly       1323
                      Granite       1764
Cooking Gear          TrailChef     5880
First Aid             Aloe           441
                      Calamine       441
                      Compact        441
                      Deluxe         441
                      Insect         441
Golf Accessories      Course        1764
Insect Repellents     BugShield     2205
Sleeping Bags         Hibernator    3087
dtype: int64

# 8. 請檢查第4個欄位Product的資料錯置情況並將此欄位整理成正確的形式(3 0%)

## 處理Product占用欄位 function

In [15]:
order_list = ['E-mail', 'Fax', 'Mail', 'Sales', 'Special', 'Telephone', 'Web']

In [16]:
#其餘數值名稱
other_list = ['Revenue_', 'Planned revenue', 'Product cost', 'Quantity_', 'Unit cost', 'Unit price', 'Gross profit', 'Unit sale price']

In [17]:
#根據 product 占用其他column的情形，將其分類
def classified_product_by_occupied_columns(product, columns):
    product_ = sales_df[sales_df[columns].isin(order_list)].copy(deep=True)
    product_.groupby(['Product.2', columns]).size()
    print(f"{product}, {len(product_.index)}")
    return product_

# 將合併 product 會用到的 columns 整理出來, offset 為占用了多少column 
def creatre_product_removed_slots(df, offset):
    return df.columns[1:1+offset]

# 回傳合併好的一系列 product
def get_product_name(df, slots):
    value = ''
    for slot in slots:
        df = df.astype({slot:str})
        value = value + df[slot] + ' '
    return value

# 9. 請檢查第 5個欄位 Order method type的資料錯置情況並將此欄位整理成正確的形式。(1 5%)

In [18]:
#根據 order 占用其他column的情形，將其分類
def classified_order_by_occupied_columns(df):
    order1 = df[df[df.columns[1]]!='Sales'].copy(deep=True)
    order2 = df[df[df.columns[1]]=='Sales'].copy(deep=True)
    return order1, order2

# 處理 order1 
def modify_order1(df):
    order_slot = df.columns[1]
    df['order method type'] = df[order_slot]
    df = df.drop(order_slot, axis=1)
    return df

# 處理 order2
def modify_order2(df):
    order_slots = df.columns[1:3]
    df['order method type'] = df[order_slots[0]] + ' ' + df[order_slots[1]]
    df = df.drop(order_slots, axis=1)
    return df

# 10. 請檢查第 6 個欄位 Retailer country 的資料錯置情況並將此欄位整理成正確的形式。 (15%)

In [19]:
#根據 country 占用其他column的情形，將其分類
def classified_country_by_occupied_columns(df):
    country_2wd_idx = df.columns[2]
    country_2wd = [product for product in df[country_2wd_idx].unique() if isinstance(product, str)] #占用2格columns
    country1 = df[~df[country_2wd_idx].isin(country_2wd)].copy(deep=True)
    country2 = df[df[country_2wd_idx].isin(country_2wd)].copy(deep=True)
    return country1, country2

# 處理 country1
def modify_country1(df):
    country_slot = df.columns[1]
    df['Retailer country'] = df[country_slot]
    df = df.drop(country_slot, axis=1)
    return df

# 處理 country2
def modify_country2(df):
    country_slots = df.columns[1:3]
    df['Retailer country'] = df[country_slots[0]] + ' ' + df[country_slots[1]]
    df = df.drop(country_slots, axis=1)
    return df

# 11. 請將剩下的欄位整理成正確的形式。(10%)

In [20]:
# 整理剩下且為數值的columns
def create_numerical_columns(df):
    return df.columns[1: df.columns.get_loc('Product line')]

# 處理country佔用一欄時，剩下的數值columns
def modify_country1_numerical_columns(df):
    numerical_columns = create_numerical_columns(df)
    for i in range(len(other_list)):
        df[other_list[i]] = df[numerical_columns[i]]
    for col in numerical_columns:
        df = df.drop([col], axis=1)
    df = df.rename(columns={'Revenue_' : 'Revenue'})
    df = df.rename(columns={'Quantity_' : 'Quantity'})
    return df

# 處理country佔用倆欄時，剩下的數值columns
def modify_country2_numerical_columns(df):
    numerical_columns = create_numerical_columns(df)
    for i in range(len(other_list)):
        df[other_list[i]] = df[numerical_columns[i]]
    for col in numerical_columns:
        df = df.drop([col], axis=1)
    df = df.rename(columns={'Revenue_' : 'Revenue'})
    df = df.rename(columns={'Quantity_' : 'Quantity'})
    return df

# 8~11 步驟合併

In [21]:
def modify_product_n(df, n):
    prduct_slots = creatre_product_removed_slots(df, n)
    df['Product'] = get_product_name(df, prduct_slots)
    df = df.drop(prduct_slots, axis=1)
    return df

def deal_order(product):
    o1, o2 = classified_order_by_occupied_columns(product)
    o1 = modify_order1(o1)
    o2 = modify_order2(o2)
    o1_c1, o1_c2 = deal_country(o1)
    o2_c1, o2_c2 = deal_country(o2)
    return o1_c1, o1_c2, o2_c1, o2_c2

def deal_country(order):
    c1, c2 = classified_country_by_occupied_columns(order)
    c1 = modify_country1(c1)
    c2 = modify_country2(c2)
    return modify_country1_numerical_columns(c1), modify_country2_numerical_columns(c2)

def concat_product(o1, o2, o3, o4):
    return pd.concat([o1, o2, o3, o4])

# 根據product占用欄位，處理product
def deal_product_n(df, n):
    df = modify_product_n(df, n)
    p_o1_c1, p_o1_c2, p_o2_c1, p_o2_c2 = deal_order(df)
    df = concat_product(p_o1_c1, p_o1_c2, p_o2_c1, p_o2_c2)
    return df

# 分類product

In [22]:
product_1 = classified_product_by_occupied_columns(1, 'Order')
product_2 = classified_product_by_occupied_columns(2, 'method')
product_3 = classified_product_by_occupied_columns(3, 'type.1')
product_4 = classified_product_by_occupied_columns(4, 'Retailer')
product_5 = classified_product_by_occupied_columns(5, 'country')
product_6 = classified_product_by_occupied_columns(6, 'Revenue')
product_7 = classified_product_by_occupied_columns(7, 'Planned')

1, 441
2, 8526
3, 6909
4, 1470
5, 441
6, 441
7, 0

# 個別處理各個product

In [23]:
product_1 = deal_product_n(product_1, 1)
product_2 = deal_product_n(product_2, 2)
product_3 = deal_product_n(product_3, 3)
product_4 = deal_product_n(product_4, 4)
product_5 = deal_product_n(product_5, 5)
product_6 = deal_product_n(product_6, 6)

# 合併處理完畢的product

In [28]:
product_df = pd.concat([product_1, product_2, product_3, product_4, product_5, product_6])
product_df.head()

,Year,Product line,Product type,Product,order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
2500,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2501,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Mexico,26627.2,28631.8,16770,195,86,146.83,9857.25,136.550
2502,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2503,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Japan,624589,720054,421744,4904,86,146.83,202845,130.823
2504,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 12. 請將整理完的資料集 以 index 排序並 匯出成 csv 檔 需保留 index)index)，檔名為 ECT_HW 1_ 學號 csv 。 最後輸出的資料集 須移除 不需要的欄位 (3%)

In [29]:
product_df = product_df.sort_index()

In [30]:
product_df.to_csv('ECT_HW1_107403020.csv')

# 13. 檢查 處理完後的資料集是否能產出如下的結果 。 (2%)

In [31]:
product_df.groupby('Product type').count()

,Year,Product line,Product,order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
Product type,,,,,,,,,,,,,
Climbing Accessories,3087,3087,3087,3087,3087,729,729,729,729,729,729,729,729
Cooking Gear,5880,5880,5880,5880,5880,2059,2059,2059,2059,2059,2059,2059,2059
First Aid,2205,2205,2205,2205,2205,812,812,812,812,812,812,812,812
Golf Accessories,1764,1764,1764,1764,1764,619,619,619,619,619,619,619,619
Insect Repellents,2205,2205,2205,2205,2205,795,795,795,795,795,795,795,795
Sleeping Bags,3087,3087,3087,3087,3087,1189,1189,1189,1189,1189,1189,1189,1189